<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud File Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-8 col-xs-8">
            <button type="button" class="btn btn-success btn-sm" onclick="create_node();">Create
            </button>
            <button type="button" class="btn btn-warning btn-sm" onclick="rename_node();">Rename
            </button>
            <button type="button" class="btn btn-danger btn-sm" onclick="delete_node();">Delete
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-8 col-xs-8">
            <div id="tree"></div>
        </div>

    </div>
</div>

</body>
</html>